body{
  background-color: rgb(250, 237, 39);
  font-family: Arial;
    font-style: italic;


}

img{
  width:350px;
  height:350px;

}

h1{
    font-size: 10px;
    text-align: center;
    
}
a{
    text-decoration: none;
    color:black;
    
}
a:hover{
    border-bottom: 1px solid black;
    
    
}
    
