body
{
	background-color: black;
	color: white;
	font-family: Arial;
	position:relative;
	top:0px;
    	overflow:auto;
}

.wrapper
{

	width:100%;
}

.header
{
	width:100%;
	font-size: 120px;
	text-align: center;
    margin-top: 70px;



}

#mid{
    
    font-size: 20px;
    text-align: center;
    margin-top: 90px;
    font-style: italic;
    
}
