img{
    width:70%;
    height: 70%;
    display:block;
    margin-left: auto;
    margin-right:auto;
    margin-top:130px;

}
    


body{
    background-color:black;
    
}
img:hover{
    width:75%;
    height: 75%;
}
