body{
    background-color: rgb(250, 237, 39);

}

img{
    
    width:350px;
    height:350px;

    
}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:2px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:2   px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-cly1{text-align:left;vertical-align:middle}
.tg .tg-j00t{font-family:Arial, Helvetica, sans-serif !important;;background-color:#000000;text-align:left;vertical-align:middle}

    
    
